<div id="form">
  <label>Title (Mr., Mrs., Ms., Dr. etc)</label>
  <input [(ngModel)]="person.title" type="text">
  <label>First Name</label>
  <input [(ngModel)]="person.fname" type="text">
  <label>Last Name</label>
  <input [(ngModel)]="person.lname" type="text">
  <label>Address</label>
  <input [(ngModel)]="person.address" type="text">
  <label>City</label>
  <input [(ngModel)]="person.city" type="text">
  <label>Zip</label>
  <input [(ngModel)]="person.zip" type="text">
  <label>Birthdate</label>
  <input [(ngModel)]="person.birthdate" type="date">
</div>
