<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Teacher Evaluation</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="main.css"/>

</head>

<body>
<script type="text/html" id="formRenderer">
  <h1>Enter your Details</h1>
  <form id="evalForm" >
    <ul class="flex">
      <% _.forEach(fields, function(field) { %>
        <li>
          <label for="<%- name %>"><%- label %></label>
          <input type="<%- inputType %>" id="<%- name %>" name="<%- name %>"
        </li>
      <% }); %>
         <h2>How do you like CS3660?</h2>
      </li>
      <li>
        <input type="radio" id="state-of-mind1" name='state-of-mind' value="sucky">
        <label for="state-of-mind1">Sucky</label>
      </li>
      <li>
        <input type="radio" id="state-of-mind3" name='state-of-mind' value="meh">
        <label for="state-of-mind3">Meh</label>
      </li>
      <li>
        <input type="radio" id="state-of-mind2" name='state-of-mind' value="Great!">
        <label for="state-of-mind2">Great!</label>
      </li>

      <li>
        <label for="professorGrade">Describe your Teacher</label>
        <select class="form-control" name="professorGrade" id="professorGrade">
          <option value="great">Awful</option>
          <option value="stupendous">Bad</option>
          <option value="fantabulous">Good</option>
          <option value="supernice">Excellent</option>

        </select>
    </li>
    <li>
      <input  type="checkbox" name="honesty_check" id="honesty_check">
        <label for="honesty_check">
          Are you being completely honest?
        </label>
    </li>
      <li>
        <button type="submit">Send</button>
      </li>
    </ul>
  </form>


</script>

<div class="container" id="content">
  <!--render your lodash form and append to this container-->


</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

<script src="viewModel.js"></script>
<script src="formService.js"></script>
<script>

   var valSvc;
   $("document").ready(function(){
     valSvc = new formService(viewModel,"content", "formRenderer", "evalForm", "https://wp.zybooks.com/form-viewer.php", true);

   });
</script>


</body>

</html>
