@charset "UTF-8";
/* CSS Document */

/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
/* box model fix */
* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
/* WRAPPER */
div#wrapper {
  margin: 0 auto;
  max-width: 960px;
}
/* BODY */
body {
  color: rgb(45, 65, 96);
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
main {
  padding: 2rem;
  height: 600px;
}
h1 {
  padding: 5%;
  font-size: 2.5rem;
}
h2 {
  padding-left: 10%;
}
ul {
  font-size: 1.25rem;
  padding-left: 15%;
}
li {
  padding-bottom: .75rem;
}
/* FOOTER */
footer {
  margin-top: 5%;
  padding: 1.5rem;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(153, 192, 224);
}
/* HEADER */
.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 2.3em 0;
}
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}
nav {
    margin: 1.5em 0 0 5%;
}

header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

header ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

li a:hover {
    color: #B6B6B6;
}
