@charset "UTF-8";

/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
/* WRAPPER */
div#wrapper {
  margin: 0 auto;
  max-width: 960px;
}
/* BODY */
body {
  color: #2d4160;
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
main {
  padding-top: 2rem;
}
h1 {
  padding: 5%;
  font-size: 2.5rem;
}
h2 {
  padding-left: 10%;
}
ul {
  font-size: 1.25rem;
  padding-left: 15%;
}
li {
  padding-bottom: .75rem;
}
/* FOOTER */
footer {
  margin-top: 5%;
  padding: 1.5rem;
  text-align: center;
  color: whitesmoke;
  background-color: #9ac1e0;
}

/* HEADER */
.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 2.3em 0;
}
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}
nav {
    margin: 1.5em 0 0 5%;
}

header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

header ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

li a:hover {
    color: #B6B6B6;
}

/*CONTENT*/
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*BUTTONS*/
button {
  font-family: 'Alegreya Sans', sans-serif;
  border: none;
  border-radius: 8px;
  margin: 5%;
  cursor:pointer;
}
button.regular {
  color: white;
  font-size: 1.25rem;
  background-color: #9ac1e0;
  padding: 12px;
}
button.image {
  color: rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 5px 3px #b8baba;
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px;
}
#resume:hover, #linkedin:hover, #references:hover {
  color: white;
  border: none;
  background-image: none;
  font-size: 2rem;
  background-color: #9ac1e0;
  height: 200px;
  width: 200px;
}
#resume {
  background-image: url("images/resume_icon.png");
}
#linkedin {
  background-image: url("images/linkedin_icon.png");
}
#references {
  background-image: url("images/references_icon.png");
}
